<template>
<v-container>

    <h1>Fundos</h1>

   <v-layout row wrap>
    
    <v-data-table :headers="headers" :items="founds" hiden-actions class="elevation-1">
 
    <template slot="items" slot-scope="props">

       <td>{{props.items.idFuncaoRazao}}</td>
       <td>{{props.items.fundoFiis}}</td>
    </template>
  
    </v-data-table>
   </v-layout>
  </v-container>
</template>

<script>

import  axios from 'axios'

export default{
    data() {
        return{
            founds:[],
            headers:[
                   {text: "Id" , value: 'idFuncaoRazao', sortable:true},
                   {text: "Fundos" , value: 'fundoFiis',sortable: true}
        ]
             
        }
    },

   methods:{
        async getAllFounds(){

            var responseAllFounds =  await axios.get('http://localhost:8081/list/founds');

            this.founds = responseAllFounds.data;
        }
   },


   mounted(){
       this.getAllFounds();
   }

}
</script>
