<template>
    
</template>

<script>
import axios from 'axios';

export default{
    data(){
      return{
          nameFounds:[],


      }    
    },

 
 methods:{

     async getAllNamesFounds(){

     },

 }
    

}
</script>
