<template>
 
 <v-container>
    <h1>TICKERS</h1>

   <v-layout row wrap>

    <v-data-table :headers="headers" :items="tickers" hiden-actions class="elevation-1">
 
    <template slot="items" slot-scope="props">
       <td>{{props.items.id}}</td>
       <td>{{props.items.codigo}}</td>
    </template>
  
    </v-data-table>
   </v-layout>
 </v-container>


</template>

<script>
import axios from 'axios';

export default {
    data(){
      return{
        tickers:[],
        headers:[
          {text: "Id" , value: 'id', sortable:true},
          {text: "Codigo" , value: 'codigo',sortable: true}
        ]

  }
},
  
methods:{

   async getAllTickers(){
  
    var responseGet =  await axios.get('http://localhost:8081/list/tickers');

    this.tickers = responseGet.data;   
  }

},

mounted(){
   this.getAllTickers();
 }
};
</script>
